DISCORD_TOKEN=
DISCORD_CLIENT_ID=
OWNER_ID=
SERVER_ID=
WELCOME_CHANNEL_ID=
MAINTENANCE_CHANNEL_ID=
DASHBOARD_PORT=3000
PUBLIC_URL=http://localhost:3000
APP_NAME=Flix
MAINTENANCE_MESSAGE=Flix is currently under major updates. We will let you know when the bot is back online.
